*, ::after, ::before {
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
}

body {
	overflow-x: hidden;
	--text-opacity: 1;
	color: #949495;
	color: rgba(148, 148, 149, var(--text-opacity));
	background-color: #151515;
}

body * {
	font-family: 'Gothic A1', sans-serif;
	font-size: 14px;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: unset;
}

.sm-only, div > .sm-only {
	display: none !important;
}

.disabled-link {
	pointer-events: none;
}

.font-bold {
	font-weight: 700;
}

.large-text {
	font-size: 5.14em;
}

.body-spacer {
	margin-left: 25%;
	margin-right: 25%;
}

#main {
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
	max-width: 1440px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#section-header-box {
	/*transition: top 0.5s;*/
	width: 100vw;
	background-color: #202022;
	top: 0;
	position: fixed;
	z-index: 50;
	height: 0px;
	/*opacity: 0;*/
	/*padding-top:44px;*/
}



.section-header {
	letter-spacing: 3px;
	z-index: 60;
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
	font-weight: 700;
	line-height: 1.5;
	position: sticky;
	top: 0;
	padding-top: 24px;
	font-size: 0.857em;
	margin-bottom: 32px;
	margin-top: -32px;
}

#section-header-box-shadow {
	background: linear-gradient(0deg, rgba(21, 21, 21, 0), #151515);
	width: 100%;
	height: 50%;
	top: 64px;
	position: relative;
}
#projTop, #meTop {
	display: none;
}
.hide {
	/*opacity: 0 !important;*/
	height: 0px !important;
	transition: height 200ms;
	/*display: none;*/
}

.show {
	/*opacity: 1 !important;*/
	height: 64px !important;
	transition: height 200ms;
}

.flex-col {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

}

.col-mr {
	/*	margin-right: 10%;*/
}

.col-ml {
	/*margin-left: 10%;*/
}

#col-left {
	padding-top: 88px;
	padding-bottom: 88px;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	max-width: 496px;
	padding-left: 88px;
}

#intro {
	display: flex;
	flex-direction: column;
}

#title {
	margin-bottom: 32px;
}

#title h1 {
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
}

#desc {
	padding-right: 8px;
}

#desc p {
	line-height: 2;
}

#nav {
	margin-top: 72px;
	display: flex;
	flex-direction: column;
}

#nav a {
	display: inline-flex;
	align-items: center;
}

.nav-link {
	margin-top: 16px;
	margin-bottom: 16px;
	transition: all .2s ease-in-out;
}

.wide {
	font-size: 0.715em;
	letter-spacing: 1px;
	font-weight: 700;
}

.widest {
	font-size: 0.715em;
	letter-spacing: 3px;
	font-weight: 700;
}

.nav-line {
	width: 24px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: -1px;
	height: 1px;
	display: inline-block;
	--bg-opacity: 1;
	background-color: #949495;
	background-color: rgba(148, 148, 149, var(--bg-opacity));
	transition: all .2s ease-in-out;
}

.nav-link:hover span {
	color: rgba(255, 255, 255, var(--text-opacity));
}

.nav-link:hover .nav-line {
	width: 48px;
	background-color: rgba(255, 255, 255, var(--text-opacity));
}

#social-btns {
	display: flex;
	align-items: center;
	margin-top: 72px;
}

#pic {
	margin-right: 32px;
}

#pic img {
	border-radius: 9999px;
	display: block;
	border-style: solid;
	max-width: 100%;
	height: 48px;
}

.social-link {
	margin-left: 16px;
	margin-right: 16px;
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
}

.social-link a {
	display: flex;
	align-items: center;
}

.social-link svg {
	width: 16px;
	height: 16px;
	display: block;
	fill: rgb(255, 255, 255);
	margin-right: 16px;
}

.svg-click {
	margin-right: 0;
	margin-left: 16px;
}

#col-right {
	position: absolute;
	max-width: 736px;
	padding-right: 88px;
	right: 0;
	padding-top: 88px;
	padding-bottom: 88px;
	width: 100%;
}

#projects {
	margin-top: -16px;
	max-width: 736px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
}

.project {
	margin-top: 4px;
	margin-bottom: 4px;
}
html body div#main div#col-right.flex-col.col-ml div#projects div.project div.project-box div.project-flex span.project-desc {
	line-height: 1.2;
	display: inline-block;
}
html body div#main div#col-right.flex-col.col-ml div#me div#me-box div#me-career div.career-block.block-up span.career-desc {
	line-height: 1.2;
}
.project-box {
	background: #202022;
	width: 100%;
	padding-top: 36px;
	padding-bottom: 36px;
	padding-right: 40px;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	transition: all .2s ease-in-out;
	opacity: .8;
}

.project-flex {
	flex-basis: 100%;
	margin: 8px;
}

.project-tech {
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
	font-size: 0.715em;
	font-weight: 700;
	letter-spacing: 3px;
}

.project-title {
	line-height: 1.25;
	font-size: 1.715em;
	font-weight: 600;
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
}

.project-box:hover {
	transform: scale(1.1);
	--bg-opacity: 1;
	background-color: rgba(32, 32, 34, var(--bg-opacity));
	opacity: 1 !important;
}

.project svg {
	width: 16px;
	height: 16px;
	display: block;
	fill: rgb(255, 255, 255);
	margin-right: 8px;
}

.project-link {
	display: flex;
	margin-top: 8px;
	font-size: 0.715em;
	align-items: center;
	font-weight: 600;
}

.project-link .svg-click {
	margin-left: 0;
}

.project-box:hover .project-link {
	color: rgb(255, 255, 255);
}

#me {
	margin-top: 44px;
	margin-bottom: 44px;

}

#me-lead {
	font-size: 2.285em;
	font-weight: bold;
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
}

#me-career {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

.career-block {
	margin-bottom: 14px;
	display: flex;
	flex-direction: column;
	padding-top: 44px;
	padding-bottom: 44px;
	background: #202022;
	flex-basis: calc(50% - 5px);
	padding-left: 32px;
	padding-right: 32px;
}

.block-up {
	transform: translateY(-26.3px);
}

.career-title {
	font-size: 2em;
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
	font-weight: 600;
	display: block;
}

/* Element | http://localhost:63342/tom-kyser-dev/index.html?_ijt=8makoskc0ridt6vasqu5h3gghi */

.career-dates {
	font-size: 0.715em;
	padding-top: 10px;
	font-weight: 600;
}

/* Element | http://localhost:63342/tom-kyser-dev/index.html?_ijt=8makoskc0ridt6vasqu5h3gghi */

.career-role {
	padding-top: 10px;
	color: rgba(255, 255, 255, var(--text-opacity));
	font-size: 0.715em;
	font-weight: 700;
	letter-spacing: 3px;
}

/* Element | http://localhost:63342/tom-kyser-dev/index.html?_ijt=8makoskc0ridt6vasqu5h3gghi */

.career-desc {
	padding-top: 14px;
}

@media screen and (max-width: 1280px) {
	body {
		margin: 0;
	}

	#main {
		flex-wrap: wrap;
		max-width: 100vw;
	}

	#col-left, #col-right {
		padding: 32px;

	}

	.flex-col {
		flex-basis: 100%;
	}

	#col-left {
		height: auto;
		position: static;
		width: 100%;
		max-width: 100%;
		padding-left: 32px;
	}

	#col-right {
		position: static;
		max-width: 100%;
	}

	#projects {
		max-width: 100%;
		position: static;
		width: 100%;
	}

	#nav {
		display: none;
	}

	.career-title {
		font-size: 1.14em;
	}

	.career-role {
		letter-spacing: 1.5px;
		font-weight: 500;
	}
}

@media screen and (max-width: 768px) {
	body {
		margin: 0;
		/*font-size: 12px;*/
	}

	body * {
		/*font-size: 12px;*/
		line-height: 1;
	}

	.sm-only, div > .sm-only {
		display: initial !important;
	}
	#projTop, #meTop {
		display: initial;
	}
	#main {
		flex-wrap: wrap;
		padding-top: 22px;
	}

	.large-text {
		font-size: 3.42857em;
	}

	#intro {
		width: 100%;
	}

	#pic {
		margin-right: 0;
		width: 48px;
	}

	#pic img {
		width: 48px;
	}

	#social-btns {
		justify-content: space-evenly;
		padding-right: 32px;
	}

	.social-link svg {
		margin-right: 8px;
	}

	.career-block {
		flex-basis: 100%;
	}

	.block-up {
		transform: unset;
	}

	#projects {
		margin-bottom: 44px;
	}

	#me {
		margin-top: 0px;
	}
	.display-init {
		display: initial !important;
	}

	.display-none {
		display: none !important;
	}
}
